html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.elite {
  height: 30px;
  width: 40px;
}
.navbar {
  box-shadow:#367AF6;
}
li {
  font-size: 18px;
}
.navbar-custom {
  background-color: #203860;
}

.navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
}

.welcome {
  background-color:rgb(240, 245, 255);
  font-family:'Times New Roman', Times, serif;

  padding: 150px 10px 150px 10px;
  text-align: center;
}

span {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}
footer {
  background-color: #a48e1d;
  text-align: center;
  text-justify: auto;
}

.social-icons li {
  list-style: none;
  display: inline;
  padding: 0.5rem;
}

.github {
  color: #24292e;
}

.linkedin {
  color: #0077b5;
}
.backgroud_img{
  background-image: url(moneypic.jpg);
  width: 100vw;
  height:100vh;
  background-repeat: no-repeat;
  margin:0%;
  border-radius: 8px;
}

/* CSS */
.trans{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.trans:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.trans:hover {
  text-decoration: none;
  background-color: #08645c;
}
.heading{
  font-size:55px;
  font-family:'Times New Roman', Times, serif;
}